<%- include("partials/header") -%>


<h1>What is a Blog?</h1>

<p> <%=para %> </p>
<p>Blogs are typically run by an individual or a small group of people to present information in a conversational style. However, now there are tons of corporate blogs that produce a lot of informational and thought-leadership style content.</p>
<p>When blogs first emerged around 1994, people used them mainly to share their personal lives, including their experiences and interests. Now, blogs have become an essential online marketing strategy for businesses and one of the most profitable career choices for individuals.</p>
<p>The interface of blogs has changed significantly over time. Bloggers can now integrate various widgets and plugins into their platforms, such as a social media feed, a contact form, or an author profile.</p>

<% for(let i=0;i<postarray.length;i++){ %>
    <h2> <%=postarray[i].title  %> </h2>
    <p style=" word-break: break-all; word-wrap: break-word;"><a class="trash" href="/delete/<%=postarray[i]._id%>"><i class='fas fa-trash-alt'></i></a> <%=postarray[i].content.substring(0,100)%>... <a href="posts/<%=postarray[i]._id%>" target="_blank">Read More</a> </p>
<% } %>
<!--Instead of using for loop , you can use forEach function to get individual element-->

<%- include("partials/footer") -%>


